# Logs
# Evitar ignorar pastas de código chamadas "logs" dentro de src
# Em vez disso, ignore apenas a pasta de logs na raiz, se existir
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
